html {
  --colour--charcoal: hsl(0 0 15 / 1);
  --colour--charcoal-dark: hsl(0 0 10 / 1);
  --colour--chalk: hsl(0 0 95 / 1);
  --colour--chalk-dark: hsl(0 0 75 / 1);
  background-color: var(--colour--charcoal);
  color: var(--colour--chalk);
  /* background-color: var(--colour--chalk); */
  /* color: var(--colour--charcoal); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  & {
    padding: 0;
    margin: 0;
  }
  button, a.button {
    cursor: pointer;
    outline: 1px solid var(--colour--charcoal-dark);
    color: var(--colour--charcoal-dark);
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    padding-inline: 1ch;
    padding-block: 0.5em;
    border: none;
    font-weight: 500 !important;
    font-size: 1em;
  }
}

body {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr minmax(max-content, 5dvh);

  grid-template-columns: 1fr;
  margin: 0;
  padding-block: 0;
  padding-inline: 2ch;
}
footer {
  justify-self: right;
  /* align-self: end; */
  align-content: end;
  justify-items: end;
  height: 100%;
  width: 100%;
  /* text-align: right; */

  #info {
    display: block;
    width: fit-content;
    bottom: 0;

  }
}
